<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Page</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <div class="hero-container">
        <div class="hero-content">
            <h1>Welcome to Our Website</h1>
            <div class="hero-buttons">
                
                <!-- if user is not login or signup -->
                <% if (!currUser) { %>  
                <a href="/signup">Sign Up</a>
                <a href="/login">Login</a>
                <% } %>
                 <!-- If user is logged in -->
                 <% if (currUser) { %> 
                <a href="/logout">Logout</a>
                <% } %>
                <!-- <form action="/signup" method="get">
                    <button type="submit" class="btn">Sign Up</button>
                </form>

                <form action="/login" method="get">
                    <button type="submit" class="btn">Login</button>
                </form>
                 -->
                <form action="/create-post" method="get">
                    <button type="submit" class="btn">Add Comment</button>
                </form>
               
                <form action="/post" method="get">
                    <button type="submit" class="btn">View Comments</button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
